@using DAL.Models;
@model List<Autos>
@{
    ViewBag.Title = "Autos";
    var MiCarrito = ViewBag.ListaCarrito;
}

@* Diseño *@
<link href="~/Content/Style/Card.css" rel="stylesheet" />
<link href="~/Content/Style/TableAndButtons.css" rel="stylesheet" />

<br />
<br />
<br />
<br />
@if (Session["UserRol"].Equals("cliente"))
{
<div style="display: flex; justify-content: center; align-items: center">
    @if (Model.Count > 0)
    {
        foreach (var a in Model)
        {

            <div class="row text-center">
                <div class="col-md-4 col-sm-6">
                    <div class="container">
                        <div class="card">
                            <div class="image">
                                <img src="~/Content/Images/@a.Imagen" />
                            </div>
                            <div class="contentBx">
                                <h2>@a.Marcas.NombreMarca</h2>
                                <div class="color">
                                    <h3>Colores disponibles:</h3>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <br />
                                <a href="https://localhost:44372/Autos/DetalleAutos">Ver detalles</a>
                            </div>
                        </div>
                    </div>
                  
                    <div class="card-footer text-center" style="color:#000; margin-bottom:40px">
                        @if (MiCarrito != null && MiCarrito.Contains(a.IdAuto))
                        {
                            <button class="btn" style="background-color: darkred; color:white" onclick="EliminarDelCarritoCarrito(@a.IdAuto)">Quitar del carrito</button>
                        }
                        else
                        {
                            <button onclick="GuardarEnCarrito('@a.IdAuto')" class="btn" style="background-color: #4592AF">Agregar al carrito<i class="fas fa-shopping-cart" style="margin-left:7px"></i></button>
                        }

                    </div>
                    
                </div>
            </div>
        }
    }

</div>
}
else
{
    @* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< CRUD AUTOS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*@

    <center>
        <h2>Autos</h2>
        <br />
        <button class="btn btn-default" onclick="window.location.href='/Autos/AgregarOEditarAutos'"> Agregar </button>
    </center>

    <br />

    <div class="container-fluid" style="display: flex; justify-content: center; align-items: center">

        <div class="row text-center">

            <table class="table table-bordered table-striped table-hover">

                <thead>
                    <tr>
                        <td>ID</td>
                        <td>MARCA</td>
                        <td>MODELO</td>
                        <td>PLACA</td>
                        <td>COLOR</td>
                        <td>PRECIO POR DIA</td>
                        <td>CATEGORIA</td>
                        <td>PASAJEROS</td>
                        <td>N° PUERTAS</td>
                        <td>ESTADO</td>
                        <td>ACCIONES</td>
                    </tr>
                </thead>

                <tbody>
                    @if (Model.Count > 0)
                    {
                        foreach (var a in Model)
                        {
                            <tr>
                                <td>@a.IdAuto</td>
                                <td>@a.Marcas.NombreMarca</td>
                                <td>@a.Modelos.NombreModelo</td>
                                <td>@a.Placa</td>
                                <td>@a.Color</td>
                                <td>@a.PrecioDia</td>
                                <td>@a.Pasajeros</td>
                                <td>@a.NumeroPuertas</td>
                                <td>@a.Categoria</td>
                                <td>@a.Estado</td>
                                <td style="display: flex;">
                                    <button style="margin-right: 10px" class="btn btn-success" onclick="window.location.href = '/Autos/AgregarOEditarAutos?id='+@a.IdAuto"> <i class="fas fa-edit"></i></button>
                                    <button class="btn btn-danger" onclick="window.location.href = '/Autos/EliminarAuto?id='+@a.IdAuto"> <i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}
<script src="~/Scripts/EliminarCarrito.js"></script>
<script src="~/Scripts/GuardarEnCarrito.js"></script>
