@using DAL.Models;
@model List<Autos>
@{
    ViewBag.Title = "Autos";
}

@* Diseño *@
<link href="~/Content/Style/Card.css" rel="stylesheet" />
<link href="~/Content/Style/TableAndButtons.css" rel="stylesheet" />

<br />
<br />
<br />
<br />

<div style="display: flex; justify-content: center; align-items: center">

    <div class="row text-center">

        <div class="col-md-4 col-sm-6">
            <div class="container">
                <div class="card">
                    <div class="image">
                        <img src="~/Content/Images/jeep.jpg" />
                    </div>
                    <div class="contentBx">
                        <h2>Jeep</h2>
                        <div class="color">
                            <h3>Colores disponibles:</h3>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <br />
                        <a href="https://localhost:44372/Autos/DetalleAutos">Ver detalles</a>
                    </div>
                </div>
            </div>
            <div class="card-footer" style="color:#000;  margin-bottom:40px">
                <button class="btn" style="background-color: #4592AF">Agregar al carrito<i class="fas fa-shopping-cart" style="margin-left:7px"></i></button>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="container">
                <div class="card">
                    <div class="image">
                        <img src="~/Content/Images/toyota.jpg" />
                    </div>
                    <div class="contentBx">
                        <h2>Toyota</h2>
                        <div class="color">
                            <h3>Colores disponibles:</h3>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <br />
                        <a href="https://localhost:44372/Autos/DetalleAutos">Ver detalles</a>
                    </div>
                </div>
            </div>
            <div class="card-footer" style="color:#000; margin-bottom:40px">
                <button class="btn" style="background-color: #4592AF">Agregar al carrito<i class="fas fa-shopping-cart" style="margin-left:7px"></i></button>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="container">
                <div class="card">
                    <div class="image">
                        <img src="~/Content/Images/car.jpg" />
                    </div>
                    <div class="contentBx">
                        <h2>Toyota</h2>
                        <div class="color">
                            <h3>Colores disponibles:</h3>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <br />
                        <a href="https://localhost:44372/Autos/DetalleAutos">Ver detalles</a>
                    </div>
                </div>
            </div>
            <div class="card-footer" style="color:#000; margin-bottom:40px">
                <button class="btn" style="background-color: #4592AF">Agregar al carrito<i class="fas fa-shopping-cart" style="margin-left:7px"></i></button>
            </div>
        </div>

    </div>
</div>
    @* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< CRUD AUTOS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*@

    <center>
        <h2>Autos</h2>
        <br />
        <button class="btn btn-default" onclick="window.location.href='/Autos/AgregarOEditarAutos'"> Agregar </button>
    </center>

    <br />

    <div class="container" style="display: flex; justify-content: center; align-items: center">

        <div class="row text-center">

            <table class="table table-bordered table-striped table-hover">

                <thead>
                    <tr>
                        <td>ID</td>
                        <td>MARCA</td>
                        <td>MODELO</td>
                        <td>PLACA</td>
                        <td>COLOR</td>
                        <td>PRECIO POR DIA</td>
                        <td>CATEGORIA</td>
                        <td>PASAJEROS</td>
                        <td>N° PUERTAS</td>
                        <td>ESTADO</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>

                <tbody>
                    @if (Model.Count > 0)
                    {
                        foreach (var a in Model)
                        {
                            <tr>
                                <td>@a.IdAuto</td>
                                <td>@a.Marcas</td>
                                <td>@a.Modelos</td>
                                <td>@a.Placa</td>
                                <td>@a.Color</td>
                                <td>@a.PrecioDia</td>
                                <td>@a.Categoria</td>
                                <td>@a.Estado</td>
                                <td>
                                    <button class="btn btn-success" onclick="window.location.href = '/Autos/AgregarOEditarAutos='+@a.IdAuto"> <i class="fas fa-edit"></i></button>
                                </td>
                                <td>
                                    <button class="btn btn-danger" onclick="window.location.href = '/Autos/EliminarAuto?id='+@a.IdAuto"> <i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>


