<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Rent a car 🚘 </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link href="~/Content/Style/navbar.css" rel="stylesheet" />
    <link href="~/Content/Style/Notificacion.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>

<body>

    <div class="navigation-wrap start-header start-style">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md navbar-light">

                        @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "nav-link nav-brand fas fa-home", @style = "font-size:30px" })

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto py-4 py-md-0">


                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    @Html.ActionLink("Autos", "MostrarAutos", "Autos", new { area = "" }, new { @class = "nav-link dropdown-toggle" })
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="">Categorías</a>
                                    </div>
                                </li>

                                <li class="nav-item i pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="https://localhost:44372/Carrito/Carrito"><i style="font-size:19px" class="fas fa-shopping-cart"></i></a>
                                </li>

                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Historial</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="https://localhost:44372/HistorialAlquiler/HistorialAlquiler">Alquiler</a>
                                        <a class="dropdown-item" href="https://localhost:44372/DetalleCompras/DetalleCompras">Compras</a>
                                    </div>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mantenimiento</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="https://localhost:44372/Autos/MostrarAutos">Crud autos</a>
                                        @Html.ActionLink("Marcas y Modelos", "GetMarcasModelos", "MarcasModelos", new { area = "" }, new { @class = "dropdown-item" })
                                        <a class="dropdown-item" href="https://localhost:44372/DetalleCompras/DetalleCompras">Crud compras</a>
                                        <a class="dropdown-item" href="https://localhost:44372/Clientes/MostrarClientes">Crud clientes</a>
                                        <a class="dropdown-item" href="https://localhost:44372/Administradores/MostrarAdministradores">Crud Administradores</a>
                                        <a class="dropdown-item" href="https://localhost:44372/Proveedores/MostrarProveedores">Crud proveedores</a>
                                    </div>
                                </li>
                                <li class="nav-item i pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href=""><i class="fas fa-bell"></i></a>
                                    <div class="dropdown-menu notification">
                                        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                                        <div style="text-align: right;">
                                            <button class="btn" onclick="pagar()">Pagar</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item i pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i style="font-size:25px" class="fas fa-user-circle"></i></a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="https://localhost:44372/IniciarSesion/LogOut">Salir</a>
                                        <a class="dropdown-item" href="https://localhost:44372/IniciarSesion/IniciarSesion">Iniciar Sesión</a>
                                        <a class="dropdown-item" href="https://localhost:44372/Clientes/Registrarse">Registrarse</a>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="body-content">

        @RenderBody()


        <footer style="background-color: #F6F5F5; border-radius:30px">
            <br />
            <br />
            <div class="row">
                <div class="text-center col-lg-12">
                    <a href="https://es-la.facebook.com/"><i class="fab fa-3x fa-facebook fa-2x" style="color:blue"></i></a>
                    <a href="https://www.instagram.com/"><i class="fab fa-3x fa-instagram fa-2x" style="margin-left: 25px; color: #E1306C"></i></a>
                    <a href="https://www.youtube.com/"><i class="fab fa-3x fa-youtube fa-2x" style="margin-left:25px; color:red"></i></a>
                </div>
            </div>
            <br />
            <p class="text-center">&copy; @DateTime.Now.Year - Rent a car</p>
            <br />
            <br />
        </footer>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>

    <script src="~/Scripts/navbar.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.min.js"></script>
    <link href="sweetalert2.min.js">
    <script>
        function pagar() {
            Swal.fire({
                title: 'Monto a pagar: $200',
                showCancelButton: 'true',
                confirmButtonText: 'Aceptar',
                background: 'white',
                width: '245px',
                toast: 'true',
            });
        }
    </script>

    @Scripts.Render("~/Scripts/MarcasModelos.js")
</body>
</html>
