@using DAL.Models;
@model List<HistorialAlquiler>

@{
    ViewBag.Title = "Historial Alquiler";
    int contador = 1;
}

@* Diseño *@
<link href="~/Content/Style/TableAndButtons.css" rel="stylesheet" />
<br />
<br />
<br />

<div class="container" style="display: flex; justify-content: center; align-items: center">

    <div class="row text-center">

        <table class="table table-bordered table-striped table-hover">

            <thead>
                <tr>
                    <td>ID</td>
                    <td>Marca</td>
                    <td>Modelo</td>
                    <td>Cliente</td>
                    <td>Placa</td>
                    <td>Fecha inicial</td>
                    <td>Fecha entrega</td>
                    <td>Días</td>
                    <td>Averiado</td>
                    <td>Precio total</td>
                    <td>Devolver</td>
                </tr>
            </thead>

            <tbody>
                @if (Model.Count > 0)
                {
                    foreach (var h in Model.OrderByDescending(x=> x.IdHistorial))
                    {
                <tr>
                    <td>@h.IdHistorial</td>
                    <td>@h.Autos.Marcas.NombreMarca</td>
                    <td>@h.Autos.Modelos.NombreModelo</td>
                    <td>@h.Clientes.NombreCliente</td>
                    <td>@h.Autos.Placa</td>
                    <td>@h.FechaInicio</td>
                    <td>@h.FechaEntrega</td>
                    <td>@h.CantidadDias</td>
                    <td>@h.Averiado</td>
                    <td>$ @h.PrecioTotal</td>
                    <td>
                        @if (h.Autos.Estado.Trim() == "Ocupado" && contador == 1)
                        {
                            <button class="btn btn-secondary" onclick="Devolver(@h.FkAuto)"> <i class="fas fa-undo-alt"></i> </button>
                        }
                        @{contador++;}
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>

    function Devolver(id) {
        $.ajax({
            url: '/HistorialAlquiler/Devolver?id=' + id, // Se envía la petición alcontrolador con los dos parametros (id del auto y cantidad)
            type: 'POST',
            async: true,
            data: '',
        });
        window.location.reload(true)
    }
</script>
